@{
    ViewData["Title"] = "THE WALL";
}
<h1>CodingDojo Wall</h1>
<div class="gateWrapper">
<div class="left">
<partial name="RegisterPartial"/>
</div>
<div class="right">
<partial name="LoginPartial"/>
</div>
</div>