* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

form * {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.gateWrapper div{
    display: inline-block;
    min-width: 30%;
    margin:auto;
}
h1 {
    text-align: center;
    display: block;
}
.gateWrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
}


label{
    font-weight: bolder;
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
}

input, textarea{
    padding: 5px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    vertical-align: middle;
    border-bottom: 1px solid black;
}

.navbar div, .navbar h1 {
    display: inline-block;
    margin: auto 0;
}

.navbar div * {
    display: inline;
}

.wall {
    padding: 20px;
}

.comments {
    margin-top: 20px;
    max-width: 80%;
    margin-left: auto;
}

.onecomment{
    margin-top:15px;
}

.onecomment a, .onecomment div{
    display: inline-block;
}

.message, .onecomment {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

button {
    padding: 5px;
}
.delete {
    color: white;
    background-color: red;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bolder;
}

h4 {
    margin-top: 20px;
}